<!DOCTYPE html>

<html>

    <head>
        <title>Tranan</title>
        <link rel="stylesheet" type="text/css" href="css/main.css"/>
        <link rel="shortcut icon" href="img/icon.ico" type="image/png">
        <meta charset="utf-8"/>
    </head>

    <body>

        <div class="body" id="center">

            <div class="header">
                <img src="img/banner2.jpg"/>
            </div>

            <div class="menu">
                <a id="mfirst" class="menubar" href="index.html">
                    <h1 class="menutext">Hem</h1>
                </a>

                <div class="spacer"></div>

                <a class="menubar" href="index.html">
                    <h1 class="menutext">Alla rätter</h1>
                </a>

                <div class="spacer"></div>

                <a class="menubar" href="index.html">
                    <h1 class="menutext">Reservera</h1>
                </a>

                <div class="spacer"></div>

                <a  id="mlast" class="menubar" href="index.html">
                    <h1 class="menutext">Kontakta Oss</h1>
                </a>
            </div>

            <div id="container">

            </div>

        </div>

    </body>

</html>